$font-primary: myFirstFont;
$base_font_size: 1rem;
$base_titles_size: 2rem;
$big_titles_size: 3rem;
$base_spacing-size: 1rem; 
$font-path: '../fonts/';
$fonts: (
    icomoon: 'icomoon.ttf',
    myFirstFont: 'Lato-Regular.ttf'
)