*{
    box-sizing: border-box;
    margin: 0;
  }
   
  :root{
      --wrapper-width: 80rem;
    /*--------------------- COLORS ---------------------*/
      --primary-theme: #9aae04; /*VERDE*/
      --second-theme: #d9d9d9;  /*GRIS*/
      --border-color: #777;    /*GRIS OSCURO*/
    /*--------------------- END COLORS ---------------------*/
    /*--------------------- FONTS ---------------------*/
      --font-primary: 'verdana';
      --base_font_size: 1rem;
      --base_titles_size: 2rem;
      --big_titles_size: 3rem;
    /*--------------------- END FONTS ---------------------*/
    /*--------------------- SPACING ---------------------*/
      --base_spacing-size: 1rem;  /*Margin y Padding*/
    /*--------------------- END SPACING ---------------------*/
   
  }
   
  /*--------------------- GENERAL ---------------------*/
   
  /*--------------------- END GENERAL ---------------------*/
   
  /*--------------------- WRAPPER ---------------------*/
   
  /*--------------------- END WRAPPER ---------------------*/
   
   
  /*--------------------- HEADER ---------------------*/
   
  /*--------------------- END HEADER ---------------------*/
   
   
  /*--------------------- MENU -------------------*/
   
  /*--------------------- END MENU -------------------*/
   
   
  /*--------------------- BODY BASE -------------------*/
   
  /*--------------------- END BODY BASE -------------------*/
   
   
  /*--------------------- FORM -------------------*/
   
  /*--------------------- END FORM -------------------*/
   
   
  /*--------------------- TABLE -------------------*/
   
  /*--------------------- END TABLE -------------------*/