.article {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px dotted $primary-theme;
    padding-top: 10px;
  }
  
  .article__container{
    max-height: 189px;
    overflow: auto;
    scroll-behavior: smooth; 
  }
  .article__container .article__paragraph {
    background-color: $second-theme;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 60px;
  }
  
  
  @media only screen and (min-width: 1200px) {
    .image-publicity {
      background-color: $second-theme;
      border-left: 1px solid $primary-theme;
    }   
  }