/*--------------------- FORM -------------------*/
.form {
    border-bottom: 1px dotted $primary-theme;
    border-top: 1px dotted $primary-theme;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .form__fieldset {
    margin-block-end: 10px;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
  }
  .form__fieldset > .form__container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
  }
  .form__fieldset > .form__container > input {
    border-style: solid;
    border-width: 1px;
    border-color: $primary-theme;
    height: 30px;
  }
  .form__fieldset > .form__container > .form__label {
    margin-bottom: 10px;
  }
  .form__fieldset > .form__container > ol > li {
    margin-top: 5px;
  }
  .form__title {
    padding: 10px;
  }
  .form__fieldset > .form__container--radiobutton {
    /* width: 300px; */
    display: inline-block;
  }
  .form__fieldset > .form__container--radiobutton > input {
    height: initial;
  }
  .form__input--checkbox {
    position: relative;
  }
  .form__input--checkbox::before {
    bottom: -15px;
    left: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    content: url("../img/icons/i-checkbox-unchecked.svg");
  }
  .form__input--checkbox:checked::before {
    content: url("../img/icons/i-checkbox-checked.svg");
  } 
  
  /* with font */
  
/*   .form__input--checkbox::before {
    content: "\e900";
    font-size: 20px;
    bottom: -5px;
    left: 5px;
    position: absolute;
    font-family: icomoon;
    color: $primary-theme;
  }
  .form__input--checkbox:checked::before {
    content: "\e901";
  }  */